<mat-toolbar>
  <a [routerLink]="''" class="link-toolbar">
    <img
      src="..\assets\PetShopLogoP.png"
      alt="Logo de Cachorro Laranja com teclado de computador"
    />
    <span>PetShop Code</span></a
  >
  <span class="example-spacer"></span>
  <span>Olá, Administrador!</span>
</mat-toolbar>

<mat-card>
  <h2>Novo Produto</h2>

  <div>
    <form [formGroup]="createProductForm" (ngSubmit)="onCreate()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nome:</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Preço: R$</mat-label>
          <input type="number" matInput formControlName="price" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Descrição:</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>URL Imagem:</mat-label>
          <input matInput formControlName="url_image" type="url" />
        </mat-form-field>
      </div>
      <button type="submit" mat-flat-button>Salvar</button>
    </form>
  </div>
</mat-card>
