<mat-toolbar>
  <a [routerLink]="''" class="link-toolbar">
    <img
      src="..\assets\PetShopLogoP.png"
      alt="Logo de Cachorro Laranja com teclado de computador"
    />
    <span>PetShop Code</span></a
  >
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card>
  <div *ngIf="product">
    <h2 style="cursor: pointer" (click)="addToCart(product)">
      <span class="material-icons"> add_shopping_cart </span>
      Adicionar Produto
    </h2>

    <mat-card-title-group
      ><mat-card-title>{{ product.name }}</mat-card-title></mat-card-title-group
    >
    <mat-card-subtitle>{{ product.price | currency: "R$" }}</mat-card-subtitle>
    <mat-card-title-group>
      <mat-card-content>
        <p *ngIf="product.description">
          Descrição: <br />
          <br />
          {{ product.description }}
        </p>
      </mat-card-content>
      <img mat-card-xl-image [src]="product.url_image" />
    </mat-card-title-group>

    <h3 style="cursor: pointer" (click)="back()">
      <span class="material-icons"> arrow_back </span>
      Voltar
    </h3>
  </div>
</mat-card>
