<mat-toolbar>
  <img src="..\assets\PetShopLogoP.png" alt="Logo de Cachorro Laranja com teclado de computador">
  <span>PetShop Code</span>
</mat-toolbar>
<div class="example-button-container">
    <button mat-fab aria-label="Icon button with a person icon">
    <mat-icon>person</mat-icon>
    </button>
  </div>
  <h3>Acesse sua Conta</h3>
<h4>Informe seu usuário e senha de cadastro</h4>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Tipo de Usuário</mat-label>
    <mat-select>
      <mat-option value="cliente">Cliente</mat-option>
      <mat-option value="administrador">Administrador</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Enter some input</mat-label>
    <input matInput #input maxlength="10" placeholder="Usuário">
    <mat-hint align="end">{{input.value.length || 0}}/10</mat-hint>
  </mat-form-field>
</div>
<div>
<mat-form-field appearance="fill">
  <mat-label>Enter your password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
</div>
<h5>OU</h5>
<h4>Novo no PetShopCode? <a [routerLink]="'/cadastro'">Crie sua conta</a></h4>



<button><a [routerLink]="''">Home</a></button>
