<mat-toolbar>
  <a [routerLink]="''" class="link-toolbar"> <img src="..\assets\PetShopLogoP.png" alt="Logo de Cachorro Laranja com teclado de computador">
    <span>PetShop Code</span></a>
  <span class="example-spacer"></span>
  <span>Olá, Administrador!</span>
</mat-toolbar>

<mat-card>
<h2>Editar Detalhes do Produto</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency: 'R$' }}</h4>
    <p *ngIf="product.description">
    Descrição: {{ product.description }}
     </p>
</div>
</mat-card>
