<mat-toolbar>
  <a class="link-toolbar" [routerLink]="['/products']">
    <img src="..\assets\PetShopLogoP.png" alt="Logo de Cachorro Laranja com teclado de computador">
  </a>
  <span class="example-spacer"></span>
  <span class="material-icons">lock</span>
  <h3>Ambiente Seguro</h3>
</mat-toolbar>

<mat-card>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Crie seu usuário</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Como te identificaremos" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Próximo Passo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Preencha seu e-mail">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="emailCtrl" placeholder="exemplo@exemplo.com" type="email"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo Passo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</mat-card>
