header {
  padding: 20px;
  background-color: #F9AA33;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  color: white;
}

.mat-form-field {
  margin-top: 20px;

}

.material-icons {
  margin: 10px;
}

.link-toolbar {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #4e0d33;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.mat-card {
  margin: 25px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}



