<body>


<app-navigation-toolbar></app-navigation-toolbar>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>


<mat-grid-list cols="5" rowHeight="450px">
  <mat-grid-tile *ngFor="let product of products" >
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <a [title]="product.name + ' detalhes'" [routerLink]="['/products', product.id]">
            {{ product.name }} </a>
        </mat-card-title>
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Editar</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
      </mat-card-header>
      <img mat-card-image [src]="product.url_image">
      <button type="button" (click)="addToCart(product)">Adicionar ao carrinho</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</body>
