<app-navigation-toolbar></app-navigation-toolbar>

<mat-toolbar>
  <span class="example-spacer"></span>PetShop Code já! Compre e receba EM HORAS com Frete Grátis*
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Adote um gatinho!">
    <div fxLayoutAlign="center center">
      <img matcardImage class="carousel" src="../../assets/racao.png" alt="pote de racao">
      <img matCardImage class="carousel" src="../../assets/AlimentaçãoPet .png" alt="Gatinho laranja falando 'sachê!' para pergunta 'qual melhor comida para seu pet'"/>
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <div fxLayoutAlign="center center">
    <img matCardImage class="carousel" src="../../assets/adotegato.png"/>
    </div>
  </mat-tab>
  <mat-tab label="Third">
    <div fxLayoutAlign="center center">
      <img matCardImage class="carousel" src="../../assets/adotegato.png"/>
    </div> 
  </mat-tab>
</mat-tab-group>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile>
    <mat-card class="dashboard-class">
      <a href="">
        <mat-icon class="material-icons">local_shipping</mat-icon>
        <strong>Frete Grátis Nordeste</strong>
      </a>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="dashboard-class-visual">
      <a href="">
        <mat-icon class="material-icons">shower</mat-icon>
        <strong>Banho e Tosa</strong>
      </a>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="dashboard-class">
      <a href="">
        <mat-icon class="material-icons">credit_card</mat-icon>
        <strong>Até 3x sem juros</strong>
      </a>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="dashboard-class">
      <a href="">
        <mat-icon class="material-icons">store_mall_directory</mat-icon>
        <strong>Retire e Troque na loja</strong>
      </a>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>

<mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>

<mat-grid-list cols="5" rowHeight="450px">
  <mat-grid-tile *ngFor="let product of products">
    <div style="margin: 3%;">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <a
            [title]="product.name + ' detalhes'"
            [routerLink]="['/products', product.id]"
          >
            {{ product.name }}
          </a>
        </mat-card-title>
        <div *ngIf="admin">
          <button
            mat-icon-button
            class="more-button"
            [matMenuTriggerFor]="menu"
            aria-label="Toggle menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <div *ngIf="!admin">
          <button
            mat-icon-button
            class="more-button visibility"
            [matMenuTriggerFor]="menu"
            aria-label="Toggle menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['/products/edit', product.id]">
            Editar
          </button>
          <button mat-menu-item (click)="deleteProduct(product.id)">
            Remover
          </button>
        </mat-menu>
      </mat-card-header>
       <mat-card-content><img mat-card-image [src]="product.url_image"></mat-card-content>
      <a>{{ product.price | currency: 'R$' }}</a>
      <span class="example-spacer"></span>
      <mat-icon (click)="addToCart(product)">shopping_cart</mat-icon>
    </mat-card>
  </div>
  </mat-grid-tile>
</mat-grid-list>    
<div>

<mat-toolbar class="servicos">Conheça os melhores serviços pet</mat-toolbar>

<mat-grid-list cols="5" rowHeight="500px">
  <mat-grid-tile>
    <div style="margin: 3%;">
      <mat-card class="cardServicos">
        <mat-card-header>
        </mat-card-header>
        <img matCardImage src="../../assets/banhotosa.png">
        <mat-card-content>
        Banho, hidratação, tosa higiênica, tosa de cachorros de diversas raças e outros serviços feitos por profissionais parceiros especialistas no assunto.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="margin: 3%;">
      <mat-card class="cardServicos"
      fxFlex="0 1 calc(33,3% - 11px)"
      fxFlex.lt-md="hide" 
      fxFlex.lt-sm="100%">
        <mat-card-header>
        </mat-card-header>
        <img matCardImage src="../../assets/run.png">
        <mat-card-content>
          <strong>Dog Walker </strong>Sem tempo para sair com seu cachorro? Além de caminhadas, os passeadores parceiros ainda corrigem comportamentos.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="margin: 3%;">
      <mat-card class="cardServicos">
        <mat-card-header>
        </mat-card-header>
        <img matCardImage src="../../assets/creche.png">
        <mat-card-content>
          <strong>Creche Pet </strong>Muito mais do que um hotel pra cachorro, a hospedagem familiar proporciona cuidados personalizados para seu pet. Tragam seus bichinhos urgente para cá!
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="margin: 3%;">
      <mat-card class="cardServicos">
        <mat-card-header>
        </mat-card-header>
        <img matCardImage src="../../assets/adestra.png">
        <mat-card-content>
          <strong>Adestramento de Cães </strong>Adestradores profissionais e especialistas em ensinar seu pet por meio de comandos, atividades direcionadas, reforço positivo, recompensa.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="margin: 3%;">
      <mat-card class="cardServicos">
        <mat-card-header>
        </mat-card-header>
        <img matCardImage src="../../assets/carecenter.png">
        <mat-card-content>
          A saúde do seu melhor amigo em boas mãos, consultas, exames e vacinas com médicos-veterinários parceiros. Também temos opções de plano.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

<div>
  <mat-card class="newsletter">
    <h1>Receba Nossa newsletter</h1>
    <h5>Fique por dentro das promoções exclusivas, dicas e descontos da Petshop Code.</h5>
    <mat-form-field appearance="fill">
      <mat-label>Coloque seu e-mail aqui!</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">Notícias sobre promoções!</mat-option>
        <mat-option value="two">Curiosidades sobre o mundo pet!</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button>Quero receber!</button>
  </mat-card>

<mat-toolbar>
  <span class="example-spacer"></span><a>Encontre a loja mais próxima de você</a>
</mat-toolbar>

<footer></footer>
