.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  background-color: #4E0D3A;
}

.mat-toolbar-row {
  background-color: #FEF9EA;
}

a {
  color: white;
}

.link-toolbar {
  text-align: center;
  text-decoration: none;
  color: #344955;
}

.example-button-row {
  background-color: white;
}

.material-symbols-outlined {
  padding-top: 5px;
  padding-right: 10px;
}



